body{ /* police utiliser pour le cv */

	font-family: arial, sans-serif;
	margin: 0 0 0 0;
	padding: 0 0 0 0 ;
}
/*flexbox*/
.page{ 
	
	
	display: flex;
	
}
/*photo du cv */
.photop{ 
	margin:auto;
	display: block;
	width: 200px;
	height: 200px;
	text-align: center;
	border-radius: 100px;
	border :3px solid;
	border-color: rgba(0,0,0,0.2);
	margin-bottom: 60px;
	position: relative; /* pour bouger le block sans bouger le contenu a l'intérieur */
	top: 10px;
	background-image: url(../images/photop.jpg);
	background-size: 206px;
	background-repeat: no-repeat;
	background-position: center;
    
}
.gauche{   /*parti orange du CV*/


	padding-top: 50px;
	position: relative;
	background-color: #FE9C00;/*couleur orange*/
	color: #000000;/*couleur noir*/
	width: 70%;/* largeur parti orange*/
	font-size:16px;/* grosseur du texte */

}
.titre{ /* classe pour les titres parti orange (contact, à propos de moi,  loisirs)*/
	
	background-color: #7F7F7F; /* couleur grise */
	text-align: center;/*alignement du texte */
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FE9C00; /* couleur orange */


}

h1.titre-droite{
	margin-bottom: 5px;
}

.passe-temps{ /* parti orange loisirs*/
	
	text-align: center;	
}

i{	
	position: relative;
	bottom: 0;
	font-size: 10px;
	padding: 11px;
	color: #FE9C00;


}
.passe-temps i {

	margin: 30px;
	margin-bottom: 40px;
	border-color: #7F7F7F;/* couleur grise */
	border :2px solid;
	color: #8F8F8F;
	border-radius: 66px;
	width: 33px;
	height: 33px;
	padding: 5px 5px 5px 5px;
	font-size: 24px;
	text-align: center;
}
.identité{

	font-size: 20px;
	margin: 40px;
	display: flex;
	flex-direction: column;

}

.nom{ /*ducteil*/
	
	
	font-weight: bold; /* en gras */
    color: #FE9C00; /*couleur orange */
    font-size: 40px; /* taille du texte */
    text-transform : uppercase; /* caractere en majuscule */
}
.prenom{ /*richard*/
    
    
	font-weight: bold;
    font-size: 40px;
    text-transform : uppercase; /* caractère en majuscule */

}
.trait{ /* classe spécifique */
	margin: 5px;
	padding-bottom: 3px;
	border-top: 2px solid;/* épaisseur du trait */
	width: 60px;/* pour faire un petit trait en bas de developpeur web junior */
	color: #FE9C00;/* couleur orange */
	padding-top: 25px; /* ajustement de la hauteur */
	
}
hr{
	border-top: 2px solid;/*épaisseur des traits */
	width: 100%;/* qui prend toute la page */
	color: #FE9C00; /*couleur orange*/
}
.titre2 i{/* tous les gros titre côté droit */
	
	font-size: 24px;
	color:#FE9C00;/* couleur orange */
	padding-right: 30px;
}

/* englobe toute la parti droite du cv */
.global{
	
	display: flex;
	flex-direction: column;
	margin: 35px;
	font-size: 24px;
		
}
.formation{
	display: flex;
	justify-content: start;
	padding: 20px;

}/* les dates du CV côté droite */
.date{
	margin: 35px;
	display: inline-block;
	min-width: 250px;
	
	
}

.cote-droit{
	display: inline-block;
	margin: 35px;
	
	
}
.lab1{
	display: inline-block;
	flex-wrap: wrap;
	margin: 50px;
}
.info-mobile{
		display: none;
	}

	
	

/*Pour tous les appareils équipés d'écrans et dont la taille est inférieure à 768px*/
@media screen and (max-width: 768px){
	
	.info-mobile{

		display: block;
		
	}
	.nom-mobile{
		text-transform: uppercase; /* en majuscule Ducteil */
		color: #A52A2A; /* couleur rouge bordeau du nom version mobile */
	}
	.gauche{
		width: 100%;
	}
	.passe-temps{
		/*flex-wrap: wrap;*/
	}
	.info{
		display: none;
	}
	.trait{
		display: none;
	}
	.nom{
		color: #000000; /* couleur noir version mobile */
	}
	.desktop{
		text-align: center;
	}
	.titre2{

	}

	.page{
		overflow: hidden;
		display: flex;
		flex-direction: column;
		margin: 0;
		padding: 0;
		width: 100% !important;
		
		
	}
	.date{
		margin: 0;
		padding:0;
		display: inline-block;
	}
	.formation{
		display: inline-block;
		

	}
	.cote-droit{
		
		display: inline-block;
		margin-left: 0px;

	}
	
	.lab1{
		padding: 0;
		margin: 0;
		display: inline-block;
		font-size: 19px;

	}

	
	
























